# Project exclude paths
/console/target/
/common/target/
/HotModule/target/
/FileModule/target/
/BarrageModule/target/
/SectionModule/target/
/SectionWorkModule/target/
/PublishModule/target/
/LiveRecordModule/target/
/doc/docs/.vuepress/dist/
/CreeperModule/target/
/config/
/database.db/
/chopperbot-test/config/
/chopperbot-test/database.db/
