# Project exclude paths
/chopperbot-console/target/
/chopperbot-account/target/
/chopperbot-creeper/target/
/chopperbot-common/target/
/chopperbot-hot/target/
/chopperbot-file/target/
/chopperbot-barrage/target/
/chopperbot-section/target/
/chopperbot-section-work/target/
/chopperbot-publish/target/
/chopperbot-live/target/
/doc/docs/.vuepress/dist/
/CreeperModule/target/
/config/
/database.db/
/chopperbot-test/config/
/chopperbot-test/database.db/
/.idea/
