# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Project exclude paths
/console/target
/common/target/
/HotModule/target/
/FileModule/target/
/BarrageModule/target/
/SectionModule/target/
/SectionWorkModule/target/
/PublishModule/target/
/LiveRecordModule/target/
/doc/docs/.vuepress/dist/
/CreeperModule/target/
